
  <form name="$ctrl.form" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': $ctrl.form.title.$invalid}">
      <label class="control-label col-sm-2" for="topic-title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="topic-title" placeholder="Introduce the title of the topic" name="title"
               ng-model="$ctrl.model.title" ng-required="true" ng-minlength="5" ng-maxlength="140"/>
        <div ng-if="$ctrl.form.title.$error.required" class="help-block">Title required</div>
        <div ng-if="$ctrl.form.title.$error.minlength" class="help-block">Title too short</div>
        <div ng-if="$ctrl.form.title.$error.maxlength" class="help-block">Title too long</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.form.message.$invalid}">
      <label class="control-label col-sm-2" for="topic-message">Text:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="topic-message" placeholder="Introduce the message of the topic" name="message"
                  ng-model="$ctrl.model.message" ng-required="true" ng-minlength="20" rows="5">
        </textarea>
        <div ng-if="$ctrl.form.message.$error.required" class="help-block">Text required</div>
        <div ng-if="$ctrl.form.message.$error.minlength" class="help-block">Text too short (less than 20 characters)</div>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.submit()" ng-disabled="$ctrl.form.$invalid">New question</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.onCancel()">Cancel</button>
      </div>
    </div>
  </form>

